<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piyush ejs</title>
</head>
<body>
    <h1>Piyush G25</h1>
    <%= finalname %>
    <ul>
        <% for(var i=0; i<data.length; i++) { %>
            <li><%= data[i] %></li>
        <% } %>
    </ul>

    <h1><%= url %></h1>

    <h1><%= student.name %></h1>
    
</body>
</html>