<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>get vs post</title>
</head>
<body>
    <h1>GET</h1>
    <form action="/g25" method="get">
        <input type="text" name="name" id="name" placeholder="NAME">
        <input type="text" name="age" id="age" placeholder="AGE">
        <input type="submit" value="Submit">
    </form>
<br>
<h1>POST</h1>
    <form action="/g25" method="post">
        <input type="text" name="name" id="name" placeholder="NAME">
        <input type="text" name="age" id="age" placeholder="AGE">
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>